<div class="container">
  <% @places.each do |place| %>
    <div class="booyah-box col-xs-10 col-xs-offset-1">
      <h1><%= link_to place.name, place_path(place) %></h1><br />
      <i><%= place.address %></i><br /><br />
      <p> <%= place.description %> </p>

      <% if place.user.present? %>
        <small><%= place.user.email %></small>
      <% end %>

      <% if place.comments.present? %>
        <div class="col-xs-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>

      <% if place.photos.present? %>
          <h3 class='text-center'> Photos of <%= place.name %> </h3>
          <div class='container'>
            <div class='row'>
            <% place.photos.each do |photo| %>
              <div class='col-md-4'>
                <%= image_tag photo.picture, class: 'img-responsive center-block'%>
                <p class='text-center'><%= photo.caption %></p>
              </div>
            <% end %>
            </div> 
          </div>
      <% end %>     
    </div>
  <% end %>

  <div class="pull-right">
    <%= paginate @places %>
  </div>
</div>